<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.kit.kastel.sdq.scmm.design.Activator"
               id="edu.kit.kastel.sdq.scmm.design"
	       name="scmm">
    </component>
  </extension>
</plugin>
